* {
  border: 0;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
}

main {
  display: flex;
}

.container {
  /* Ariel, Helvetica, Verdana */
  font-family: 'Ariel', sans-serif;
  font-size: 30px;
  font-weight: 100;
  height: auto;
  margin: auto;
  margin-top: 50px;
}

.top_row {
  background-color: #61B34F;
  border: .5px solid #91CA86;
  display: flex;
  width: 400px;
}

.clear {
  align-items: center;
  border-right: 2px solid #91CA86;
  color: #FFF;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  height: 100px;
  justify-content: center;
  width: 25%;
}

#display {
  align-items: center;
  color: #FFF;
  display: flex;
  font-weight: 100;
  height: 100px;
  justify-content: flex-end;
  padding: .05em;
  width: 75%;
}

button {
  align-items: center;
  background-color: #61B34F;
  border: .5px solid #91CA86;
  color: #FFF;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  font-weight: 100;
  height: 100px;
  justify-content: center;
  width: 100px;
}

button:hover{
  color: #FFF;
}

.second_row {
  display: flex;
}

.third_row {
  display: flex;
}

.fourth_row {
  display: flex;
}

.fifth_row {
  display: flex;
}

.operator {
  background-color: #82C276;
  color: #000;
}

#clear:hover, #equals:hover {
  background-color: #82C276;
}