* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #0d0d0d;
  display: flex;
  height: 100vh;
}

.calcBody {
  font-size: 30px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.top_row {
  border: .5px solid #0d0d0d;
  display: flex;
}

.clear {
  border-right: 2px solid #0d0d0d;
  color: #bd8c04;
  cursor: pointer;
}

.display {
  border: .02em solid #fff;
  border-radius: .5em;
  width: 75%;
}

button {
  align-items: center;
  background-color: #333;
  border: .5px solid #0d0d0d;
  border-radius: .5em;
  color: #FFF;
  cursor: pointer;
  display: flex;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 1.7em;
  height: 100px;
  justify-content: center;
  width: 100px;
}

.second_row {
  display: flex;
}

.third_row {
  display: flex;
}

.fourth_row {
  display: flex;
}

.fifth_row {
  display: flex;
}

.operator {
  background-color: #333;
  color: #1a8f03;
}

#equals {
  background-color: #1a8f03;
}
