/*
* {
  border: 0;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
}
*/

main {
  display: flex;
}

.container {
/*  border: 1px solid black;*/
  font: 25px 'Ariel', sans-serif;
  font-weight: 100;
  height: auto;
  margin: auto;
  margin-top: 50px;
}

.top_row {
  background-color: #61B34F;
  border-bottom-color: #91CA86;
  display: flex;
  width: 400px;
}

.clear {
  color: #FFF; 
  height: 100px;
  width: 25%;
}

.screen {
  height: 100px;
  width: 75%;
}

span {
  background-color: #61B34F;
  border-color: #91CA86;
  color: #FFF;
  height: 100px;
  width: 100px;
}

.second_row {
  display: flex;
}

.third_row {
  display: flex;
}

.fourth_row {
  display: flex;
}

.fifth_row {
  display: flex;
}

.eval {
}

.operator {
  background-color: #82C276;
  color: #000;
}

.clear:hover, .eval:hover {
  background-color: #82C276;
}